.git/**
.gitignore
.vscode/**
.local/**
src/**
scripts/**
**/*.ts
**/*.map
tsconfig.json
package-lock.json
*.vsix
node_modules/katex/dist/**
!node_modules/katex/dist/katex.js
node_modules/katex/src/**
node_modules/katex/types/**
node_modules/katex/contrib/**
node_modules/katex/cli.js
node_modules/katex/katex.js
node_modules/katex/README.md
node_modules/commander/**
node_modules/altsia/*.d.ts
out/formatting-provider.js
